{% extends "shared/base.html" %}


{% block title %}
  <title>My tasks</title>
{% endblock %}

{% block content %}
  <div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-5 text-center text-danger mb-3">My tasks</h1>
    </div>
    <div id="result" class="text-danger text-bold lead"></div>
  </div>

  <div class="row">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Sr. No.</th>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for task in tasks %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{task.title}}</td>
                <td>{{task.task_status}}</td>
                <td>
                  <button class="btn btn-danger btn-sm" onclick="delete_task({{task.id}})">Delete</button>
                  <a class="btn btn-primary btn-sm" href="/go-to-task/{{task.id}}" role="button">Go to task</a>
                </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript">
    function delete_task(id){
        fetch('/tasks/delete/'+id,{
            method:'DELETE',})
        .then(response => response.json())
        .then(document.getElementById('result').innerHTML = "Refreshing...")
        .then(data => document.getElementById('result').innerHTML = data.detail);
    }
</script>
{% endblock %}
