<div class="card shadow p-3 mb-2 bg-body rounded" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{obj.title}}</h5>
      <p class="card-text">Sphere : {{obj.sphere}}</p>
      <p class="card-text">Stack : {{obj.stack}}</p>
      {% if obj.payment_type == "fixprice" %}
      <p class="card-text">Price : {{obj.price}}$</p>
      {% else %}
      <p class="card-text">Price : {{obj.price}}$/hour</p>
      {% endif %}
      <a href="/details/{{obj.id}}" class="btn btn-primary">Read more</a>
    </div>
  </div>
