{% extends "shared/base.html" %}

{% block title %}
  <title>Password recovery</title>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <h5 class="display-5">Change password</h5>
      <div class="text-danger font-weight-bold">
          {% for error in errors %}
            <li>{{error}}</li>
          {% endfor %}
      </div>

      <div class="text-success font-weight-bold">
        {% if msg %}
        <div class="badge bg-success text-wrap font-weight-bold" style="font-size: large;">
          {{msg}}
        </div>
        {% endif %}
      </div>
    </div>

    <div class="row my-5">
      <form method="POST">

        <div class="mb-3">
          <label>Old Password</label>
          <input type="password" required placeholder="Old password" name="old_password" value="{{old_password}}" class="form-control">
        </div>
        
        <div class="mb-3">
            <label>New password</label>
            <input type="password" required placeholder="New password" name="new_password" value="{{new_password}}" class="form-control">
        </div>        
        
        <div class="mb-3">
            <label>Repeat new password</label>
            <input type="password" required placeholder="Repeat password" name="repeat_password" value="{{repeat_password}}" class="form-control">
        </div>          
        
        <button type="submit" class="btn btn-primary">Change</button>
      </form>
    </div>
  </div>
  {% endblock %}
